[Unit]
Description=LazArt BotFinder (PRS Bot)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bots/botfinder
Environment="PATH=/opt/bots/botfinder/venv/bin"
ExecStart=/opt/bots/botfinder/venv/bin/python /opt/bots/botfinder/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
