[Unit]
Description=LazArt Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bots/lazart/bot_project
Environment="PATH=/opt/bots/lazart/bot_project/venv/bin"
ExecStart=/opt/bots/lazart/bot_project/venv/bin/python /opt/bots/lazart/bot_project/main.py
Restart=always
RestartSec=5
EnvironmentFile=/opt/bots/lazart/bot_project/.env

[Install]
WantedBy=multi-user.target
