[Unit]
Description=LazArt BotFinder (PRS Bot)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bots/lazart/botfinder
Environment="PATH=/opt/bots/lazart/botfinder/venv/bin"
ExecStart=/opt/bots/lazart/botfinder/venv/bin/python /opt/bots/lazart/botfinder/main.py
Restart=always
RestartSec=5
EnvironmentFile=/opt/bots/lazart/botfinder/.env

[Install]
WantedBy=multi-user.target
